<div class="containerX" style="flex-direction: row; box-sizing: border-box; display: flex;padding:8%;">
    <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;z-index:1;">
        <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box; padding:0 8%;"> 
             <h1>
                Info-graphic campaign <br> for a ride sharing app
             </h1>
             <p class="textP">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
             </p>
             <div class="sub-nav"> 
              <a> Strategy </a> | <a> Ideation </a> | <a> Branding </a>
             </div>
             
             <section class="btn-container">
                <button mat-button mat-raised-button class="primary-btn">Read More</button>
            </section>
        </div>
        
        <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"> 
            <div class="container"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">
         <div class="item item-1 video-box" fxFlex="70%">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
         </div>
         </div>
        </div>
</div>
</div>
<mat-divider class="color-hr"></mat-divider>